<div class="container">

    <div class="col-md-12 jumbotron">
        <div class="text-center">
            <h1>My Library</h1>
        </div>
    </div>
    <div class="col-md-12">
        {{#if article}}
            {{#each article}}
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4>{{this.headline}}</h4>
                        </div>
                        <div class="card-text">
                            <p> {{this.summary}}</p>
                            <a href={{this.url}} target="_blank">{{this.url}}</a>
                            <br><br>
                            <button type="button" class="btn btn-success addNote" data-toggle="modal" data-target="#noteModal{{this._id}}" data-id={{this._id}}>Add Note</button>
                            <button type="button" class="btn btn-danger delete" data-id={{this._id}}>Remove</button>
                        </div>
                    </div>                    
                </div>
            {{/each}}
        {{else}}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Click 'Add to Library' to save some articles.</h4>
            </div>
        </div>
        {{/if}}
    </div>
</div>

<!--Notes Modal-->
{{!-- {{#each article}}
    {{> notes-modal }}
{{/each}} --}}